
html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: grid;
    grid-template-rows: 260px 1fr;
    grid-template-columns: minmax(300px, 400px) 1fr;
    height: 100%;
}

li {
    list-style: none;
}

header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    padding: 40px;
    gap: 10px;
    grid-template-columns: 130px 1000px;
    grid-template-rows: 100px 100px;
}

.search-area {
    background-color: white;
    height: 60px;
    display: grid;
    grid-template-columns: 50px 800px 50px 60px 60px 100px;
    align-items: center;
}

.search-area > * {
    display: grid;
    align-items: center;
}

.icon {
    background-color: #1992d4;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    grid-area: 2 / 1 / 2 / 2;
}

.search-bar {
    width: 100%;
    line-height: 60px;
    height: 40px;
    background-color: #e2e8f0;
    border-radius: 10px;
    padding: 0;
    border: none;
    cursor: text;
}

.bell > img {
    max-width: 100%;
    height: 40px;
}

.profile-pic > img {
    max-width: 100%;
    height: 40px;  
}

.top-area {
    background-color: white;
    height: 60px;
    border: 1px yellowgreen solid;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;

    align-items: center;
    grid-template-columns: auto auto auto;
}

.top-area > button {
    width: 100px;
}

.sidebar {
    background-color: #1992d4;
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    align-items: start;
    justify-content: left;
    color: blanchedalmond;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.dashboard-icon, .side-menu-one-item > img, .side-menu-two-item > img {
    width: 50px;
    color: white;
}

.side-menu-one {
    display: grid;
    justify-items: left;
    align-content: start;
}

.side-menu-two {
    display: grid;
    justify-items: left;
    align-content: start;
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 600px 200px;
    padding: 50px;
}

.your-projects {
    grid-column: 1 / 3;
}

.card-area {
    display: grid;
    grid-template-columns: repeat(2, clamp(450px, 50%, 550px)) 400px;
    grid-template-rows: 50px repeat(3, 300px);
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 5px;
    border-left: 10px orange solid;
    margin: 0px;
    padding: 7px 5px 5px 10px;
}

.card-area > aside {
    display: grid;
    grid-template-rows: 400px 500px;
/*     grid-template-columns: 400px; */
    gap: 70px;
    grid-area: 1 / 3 / 5 / 4;
    border-radius: 5px;
}

.card-area aside > div {
    width: 100%;
}

.card-area aside div h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.card-area aside div:nth-child(1) h3 {
    margin-top: 0px;
}

.card-area aside div:nth-child(2) h3 {
    margin-top: 10px;
}

.announcements {
    padding: 20px;
    background-color: white;
    height: 370px;
    display: grid;
    border-radius: 5px;
    grid-template-rows: auto auto auto;
}

.trending {
    padding: 20px;
    background-color: white;
    height: 370px;
    display: grid;
    border-radius: 5px;
    grid-template-rows: auto auto auto auto;
}

.announcements > div:nth-child(-n+2) {
    display: block;
    margin: 1em auto 0;
    border-bottom: 1px solid grey;
}

.card, .announcements, .trending {
    box-shadow: 5px 5px 5px #b2b9c2;
}

svg {
    background-color: white;
}